variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi

linux:
  image: python:3.12
  tags:
    - pinocchio-docker
  stage: build
  script:
    - df -h .
    - free -h
    - env
    - python --version
    - pip list
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - twine upload --repository-url $REPOSITORY_URL --skip-existing wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

linux-bindings:
  image: python:3.12
  tags:
    - pinocchio-docker
  stage: build
  script:
    - df -h .
    - free -h
    - env
    - python --version
    - pip list
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-bindings.sh
    - twine upload --repository-url $REPOSITORY_URL --skip-existing wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

macos:
  tags:
    - macos-baremetal-applem4
  variables:
    BUILD_PLATFORM: "darwin"
  stage: build
  script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - python3 -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - twine upload --repository-url $REPOSITORY_URL --skip-existing wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

macos-bindings:
  tags:
    - macos-baremetal-applem4
  variables:
    BUILD_PLATFORM: "darwin"
  stage: build
  script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - python3 -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-bindings.sh
    - twine upload --repository-url $REPOSITORY_URL --skip-existing wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
