variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  BUILD_CCACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/ccache
  PUBLISH_PACKAGES:
    description: "Publish python packages if true, forced for pipelines on tag"
    value: "false"
    options:
      - "true"
      - "false"
  BUILD_MLIR:
    description: "When executing manually, build mlir wheels if true"
    value: "false"
    options:
      - "true"
      - "false"
  BUILD_MLIR_BINDINGS:
    description: "When executing manually, build mlir bindings wheels if true"
    value: "false"
    options:
      - "true"
      - "false"

default:
  image: python:3.12
  # Use pinocchio to speedup builds
  tags:
    - pinocchio-docker
  # # Allocate large shared (4xCPU 8GB)
  # tags:
  #   - ci.inria.fr
  #   - large
  before_script:
    - df -h .
    - free -h
    - env
    - python --version
    - pip list
    - curl -sSL https://get.docker.com/ | sh
    # Check image manifest header
    - curl -IL https://quay.io/v2/pypa/manylinux_2_28_x86_64/manifests/2025.09.19-1
    - curl -sSL https://quay.io/v2/pypa/manylinux_2_28_x86_64/manifests/2025.09.19-1

linux-mlir-wheels:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

linux-mlir-bindings-wheels:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-python-bindings-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR_BINDINGS == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-bindings.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
