variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  PUBLISH_PACKAGES:
    description: "Publish python packages if true, forced for pipelines on tag"
    value: "false"
    options:
      - "true"
      - "false"
  BUILD_MLIR:
    description: "When executing manually, build mlir wheels if true"
    value: "false"
    options:
      - "true"
      - "false"
  BUILD_MLIR_BINDINGS:
    description: "When executing manually, build mlir bindings wheels if true"
    value: "false"
    options:
      - "true"
      - "false"
  BUILD_MLIR_DEV:
    description: "When executing manually, build mlir for developement if true"
    value: "false"
    options:
      - "true"
      - "false"

  BUILD_LINUX:
   description: "Build for linux"
   value: "true"
   options:
     - "true"
     - "false"
  BUILD_MACOS:
   description: "Build for macos"
   value: "true"
   options:
     - "true"
     - "false"

default:
  before_script:
    - env

linux-mlir:
  image: python:3.12
  tags:
    - pinocchio-docker
  variables:
    BUILD_CCACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/ccache
    BUILD_PIP_CACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/pip_cache
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR == "true" && $BUILD_LINUX == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

linux-mlir-bindings:
  image: python:3.12
  tags:
    - pinocchio-docker
  variables:
    BUILD_CCACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/ccache
    BUILD_PIP_CACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/pip_cache
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-python-bindings-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR_BINDINGS == "true" && $BUILD_LINUX == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-bindings.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

linux-mlir-dev:
  image: python:3.12
  tags:
    - pinocchio-docker
  variables:
    BUILD_CCACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/ccache
    BUILD_PIP_CACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/pip_cache
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-dev-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR_DEV == "true" && $BUILD_LINUX == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-dev.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

macos-mlir:
  tags:
    - macos-baremetal-applem4
  variables:
    BUILD_PLATFORM: "darwin"
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR == "true" && $BUILD_MACOS == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - export PATH="/opt/homebrew/bin:$PATH" 
    - python3.12 -m venv .venv
    - source .venv/bin/activate
    - python3 -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

macos-mlir-bindings:
  tags:
    - macos-baremetal-applem4
  variables:
    BUILD_PLATFORM: "darwin"
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^mlir-python-bindings-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_MLIR_BINDINGS == "true" && $BUILD_MACOS == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - export PATH="/opt/homebrew/bin:$PATH" 
    - python3.12 -m venv .venv
    - source .venv/bin/activate
    - python3 -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels-bindings.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
